* {
  --cc-dark-red: #870000;
}

#root {
  width: 100%;
  height: 100%;
  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.fw-bold {
  font-weight: 600!important;
}

.hero-section {
  background: linear-gradient(to right, #190A05, #870000);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
}

.hero-section h1 {
  font-size: 37px;
}

.home-btn {
  font-size: 27px!important;
  background-color: #B04438!important;
  padding: 10px 30px!important;
}

.home-btn:hover {
  background-color: #870000!important;
  border: white!important;
  color: white!important;
}

.home-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.back-btn {
  /* display: inline-flex;  */
  /* align-items: center; */
  padding: 10px 15px; 
  background-color: black; 
  border: none; 
  border-radius: 30px;
  text-decoration: none; 
  font-size: 18px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: var(--cc-dark-red)!important;
  color: white; 
}

.back-btn svg {
  margin-right: 5px;
}

.custom-header-section {  
  background: #870000;   
  color: white;  
  border-radius: 30px;  
  padding: 15px 30px;  
  margin: 10px 0;  
  width: 70%;
}

.custom-header {  
  font-size: 38px
}

.custom-create-btn {  
  background-color: #FFFFFF;  
  color: black;  
  padding: 10px 20px;  
  border-radius: 30px;
  font-size: 15px;
}

.custom-create-btn:hover {  
  background-color: #000000;  
  color: white;  
  border: none;
}

.red-gradient {
  background: #870000; 
  background: -webkit-linear-gradient(to right, #190A05, #870000);  
  background: linear-gradient(to right, #190A05, #870000);
}
.menu-btn {
  font-size: 1.25rem;
}

.phone-mockup {
  width: 250px;
  height: 500px;
  box-shadow: 0px 10px 20px rgba(97, 31, 31, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-card {
  width: 200px;
  height: 250px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

button.btn-warning {
  border-radius: 50px;
  background-color: rgba(206, 197, 190, 0.325);
  border-color: rgb(223, 202, 193);
  color: white;
}

.header-section {
  width: 100%;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(to right, #190A05, #870000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.bg-yellow {
  background-color: rgb(238, 238, 230);
  padding: 0.5rem 1rem;
}

.header-section h1 {
  font-size: 3rem;
}

.success-container {
  background: linear-gradient(to right, #190A05, #870000);
  color: #228a0d; 
  text-align: center;
}

.success-message {
  border-radius: 10px;
  padding: 30px;
  background-color: #d4edda;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.success-message h1 {
  font-size: 2.5rem; 
}

.success-message p {
  font-size: 1.25rem; 
}

/* mobile queries */
@media screen and (max-width: 768px) {
  .hero-section h1 {
    font-size: 25px!important;
  }

  .home-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .home-btn {
    font-size: 15px!important;
  }

  .success-message h1 {
    font-size: 1rem; 
  }
  
  .success-message p {
    font-size: 0.8rem; 
  }

  .back-btn {
    font-size: 15px!important;
  }

  .custom-header {
    font-size: 25px!important;
    line-height: normal;
  }
  
}
